*{
    margin: 0;
}

.container{
    width: 70%;
    margin: auto;
}

section{
    padding: 50px 0;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.parent{
    background-color: #bbb;
    height: 400px;
    display: flex;
}


.child{
    width: 24%;
    height: 100px;
    background-color: crimson;
    border: 1px solid white;

    font-size: 40px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-center{
    justify-content: center;
    align-items: center;
}

.bottom-left{
    justify-content: flex-start;
    align-items: flex-end;
}


.top-right{
    justify-content: flex-end;
    align-items: flex-start;
}


.space-between{
    justify-content: space-between;
}