* {
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 70%;
    margin: auto;
}

.team {
    padding: 60px 0;
}

.team .title {
    text-align: center;
    margin-bottom: 40px;
}

.team .title p {
    color: #4154f1;
    margin-bottom: 10px;
}

.team .title h2 {
    color: #012970;
    text-transform: capitalize;
}


.team .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.team .row .person {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(128, 128, 128, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.team .row .person .img-div {
    position: relative;
}

.team .row .person .img-div .absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
}


.team .row .person .img-div img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}


.team .row .person h4 {
    font-size: 20px;
    color: #012970;
    text-transform: capitalize;
}

.team .row .person .job {
    color: #aaa;
    font-size: 13px;
}

.team .row .person .demo {
    padding: 10px 20px;
    font-style: italic;
}

.team .row .person .icons {
    position: absolute;
    right: -40px;
    top: 15px;
    background-color: white;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px;
    transition: right 0.5s 0.5s;
}



.team .row .person .icons i {
    display: block;
    color: #012970;
    margin: 10px 5px;
    font-size: 18px;
}

.team .row .person .icons i:hover {
    color: skyblue;
}

.team .row .person:hover {
    transform: scale(1.09);
}

.team .row .person:hover .icons {
    right: 15px;
}

@media screen and (min-width:1024px) {
    .container {
        width: 70%;
    }

    .team .row .person {
        width: 24%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .container {
        width: 80%;
        margin: auto;
    }

    .team .row .person {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .team .row .person {
        width: 100%;
        margin-bottom: 20px;
    }
}