*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box; /* solve problem of padding and border */
}

.container
{
    margin: auto;
}


section{
    padding: 50px 0;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap; /*   */
}


.align-center{
    align-items: center; /* center (top, bottom) */
}

.space-between{
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
    font-size: 18px;
}

a:hover,
.active{
    color: #ff7a57;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 20px;
}


.btn-primary{
    background-color: #ff7a57;
    border: 1px solid #ff7a57;
    color: white;
}

.btn-primary:hover{
    background-color: white;
    border: 1px solid #ff7a57;
    color: #ff7a57;
}

.btn-dark{
    background-color: #343a40;
    border: 1px solid #343a40;
    color: white;
}

.btn-dark:hover{
    background-color: white;
    border: 1px solid #343a40;
    color: #343a40;
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons i{
    width: 40px;
    height: 40px;
    border: 1px solid #ff7a57;
    color: #ff7a57;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.icons i:hover{
    color: white;
    background-color: #ff7a57; 
}

/* -------------------------------------------------- */

nav{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.3);
    padding: 5px 0;

    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
}


nav img{
    width: 75px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}



nav i {
    border: 1px solid #ddd;
    color: grey;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}


body{
    height: 450000px;
}

/* -------------------- */
main{
    padding-top: 65px;
    border-bottom: 1px solid #ddd;
}

main .d-flex{
    height: 80vh;
}

main .text p{
    font-size: 30px;
    opacity: 65%;
}

main .text h2{
    font-size: 50px;
    opacity: 75%;
}

main img{
    width: 620px;
    align-self: flex-end;
}


@media screen and (min-width: 1024px) {
    .container
    {   
        width: 70%;
    }

    nav i {
        display: none !important; 
    }

    nav ul{
        display: inline-flex;
        gap: 0 10px;
        margin-right: 10px;
    }

    .w-50{
        width: 49%;   
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container
    {   
        width: 80%;
    }

    nav .menu-div{
        width: 100%;
        display:none;

    }

    nav ul{
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        margin-bottom: 5px;
    }

    main img{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container
    {   
        width: 90%;
    }

    nav .menu-div{
        width: 100%;
        display:none;
    }


    nav ul{
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        margin-bottom: 5px;
    }

    main img{
        display: none;
    }
}