*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box; /* solve problem of padding and border */
}

.container
{
    margin: auto;
}


section{
    padding: 50px 0;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap; /*   */
}


.align-center{
    align-items: center; /* center (top, bottom) */
}

.space-between{
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
    font-size: 18px;
}

a:hover,
.active{
    color: #ff7a57;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 20px;
}


.btn-primary{
    background-color: #ff7a57;
    border: 1px solid #ff7a57;
    color: white;
}

.btn-primary:hover{
    background-color: white;
    border: 1px solid #ff7a57;
    color: #ff7a57;
}

.btn-dark{
    background-color: #343a40;
    border: 1px solid #343a40;
    color: white;
}

.btn-dark:hover{
    background-color: white;
    border: 1px solid #343a40;
    color: #343a40;
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons i{
    width: 40px;
    height: 40px;
    border: 1px solid #ff7a57;
    color: #ff7a57;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.icons i:hover{
    color: white;
    background-color: #ff7a57; 
}

.img-div img{
    width: 100%;
}

.section-title{
    text-align: center;
    margin-bottom: 40px;
}

.section-title p{
    opacity: 50%;
}

.section-title h2{
    opacity: 80%;
}

.text-center{
    text-align: center;
}

/* -------------------------------------------------- */

nav{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.3);
    padding: 5px 0;

    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    z-index: 1000;
}


nav img{
    width: 75px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}



nav i {
    border: 1px solid #ddd;
    color: grey;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}


body{
    height: 450000px;
}

/* -------------------- */
main{
    padding-top: 65px;
    border-bottom: 1px solid #ddd;
}

main .d-flex{
    height: 80vh;
}

main .text p{
    font-size: 30px;
    opacity: 65%;
}

main .text h2{
    font-size: 50px;
    opacity: 75%;
}

main img{
    width: 620px;
    align-self: flex-end;
}
/* -------------------------------------------- */

.widget{
    margin: auto;
    text-align: center;
    padding: 20px 40px;
    border-radius: 40px;
    border: 1px solid #ddd;
    box-shadow:  0 0 40px 20px rgba(128, 128, 128, 0.3);
    background-color: white;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}


.widget p{
    opacity: 50%;
}

.widget .number{
    opacity: 80%;
    font-size: 20px;
}
/* ------------------------------------------------- */



.cv img{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cv .name{
    font-size: 25px;
}

.cv .job{
    opacity: 50%;
}
/* --------------------------------------------------- */
.services .single-service{
    border: 1px solid #ddd;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(128, 128, 128, 0.3);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    color: #ff7a57;
}

.services .single-service:hover{
    color: white;
    background-color: #ff7a57;
}

/* ---------------------------------------------------- */
.skills .progress-parent{
    background-color: #ddd;
    border-radius: 5px;
}

.skills .progress-parent .progress-child{
    background-color: #ff7a57;
    height: 3px;
    border-radius: 5px;
}

.w-80{
    width: 80%;
}

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}

.w-95{
    width: 95%;
}


@media screen and (min-width: 1024px) {
    .container
    {   
        width: 70%;
    }

    nav i {
        display: none !important; 
    }

    nav ul{
        display: inline-flex;
        gap: 0 10px;
        margin-right: 10px;
    }

    .w-50{
        width: 49%;   
    }


    .widget{

        width: 40%;
    }

    .cv .img-div{
        width: 28%;
    }
    
    .cv .text{
        width: 68%;
    }

    .services .single-service{
        width: 24%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container
    {   
        width: 80%;
    }

    nav .menu-div{
        width: 100%;
        display:none;

    }

    nav ul{
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        margin-bottom: 5px;
    }

    main img{
        display: none;
    }

    .widget{

        width: 70%;
    }


    .d-flex:not(main .d-flex ), .row:not(nav .row) {
        flex-direction: column;
        gap: 10px 0;
    }

    .services .single-service,
    .w-50{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container
    {   
        width: 90%;
    }

    nav .menu-div{
        width: 100%;
        display:none;
    }


    nav ul{
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        margin-bottom: 5px;
    }

    main img{
        display: none;
    }

    .widget{

        width: 90%;
    }

    .d-flex:not(main .d-flex ), .row:not(nav .row) {
        flex-direction: column;
        gap: 10px 0;
    }

    .services .single-service,
    .w-50{
        width: 100%;
    }
}